@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.51 0.23 277);
  --primary-foreground: oklch(0.96 0.02 272);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.79 0.1 275);
  --chart-2: oklch(0.68 0.16 277);
  --chart-3: oklch(0.59 0.2 277);
  --chart-4: oklch(0.51 0.23 277);
  --chart-5: oklch(0.46 0.21 277);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.51 0.23 277);
  --sidebar-primary-foreground: oklch(0.96 0.02 272);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --team-1-off: oklch(0.753 0.153965 232.1809);
  --team-2-off: oklch(0.6218 0.224 17.51);
  --team-1-deuteranopia: oklch(0.6074 0.1504 244.22);
  --team-2-deuteranopia: oklch(0.8268 0.0775 352.56);
  --team-1-tritanopia: oklch(0.7243 0.2464 142.5);
  --team-2-tritanopia: oklch(0.6781 0.3168 324.84);
  --team-1-protanopia: oklch(0.6921 0.1347 227.9);
  --team-2-protanopia: oklch(0.7307 0.1638 346.28);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.59 0.2 277);
  --primary-foreground: oklch(0.96 0.02 272);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.79 0.1 275);
  --chart-2: oklch(0.68 0.16 277);
  --chart-3: oklch(0.59 0.2 277);
  --chart-4: oklch(0.51 0.23 277);
  --chart-5: oklch(0.46 0.21 277);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.68 0.16 277);
  --sidebar-primary-foreground: oklch(0.96 0.02 272);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-team-1-off: var(--team-1-off);
  --color-team-2-off: var(--team-2-off);
  --color-team-1-deuteranopia: var(--team-1-deuteranopia);
  --color-team-2-deuteranopia: var(--team-2-deuteranopia);
  --color-team-1-tritanopia: var(--team-1-tritanopia);
  --color-team-2-tritanopia: var(--team-2-tritanopia);
  --color-team-1-protanopia: var(--team-1-protanopia);
  --color-team-2-protanopia: var(--team-2-protanopia);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg font-semibold;
  }
  pre {
    background: var(--muted);
    border-radius: 0.5rem;
    color: var(--muted-foreground);
    font-family: "Geist Mono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
  }

  pre code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
  }
}
